/* Layout container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    min-height: 100vh;
}

.card {
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    width: 90%;
    max-width: 1100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Left panel */
.list-panel {
    flex: 2;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    min-width: auto;
}

.title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
}

.name-bar {
    text-align: center;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.employee-list {
    flex-grow: 1;
    background-color: #dcdcdc;
    border-radius: 6px;
}

/* Right panel */
.details-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ccc;
    padding-left: 20px;
}

.name-heading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

    .form-grid input {
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #ccc;
    }

.button-group {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.add {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.update {
    background-color: #3ba6ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.delete {
    background-color: #c0392b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.config {
    background-color: #c0c0c0;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}


.add:hover {
    background-color: #218838;
}

.delete:hover {
    background-color: #a93226;
}
