*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.table-outer {
    overflow-x: auto;
    height: 100%;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

thead {
    position: sticky;
    /*z-index: 2;*/
    top: 0;
}

tr {
    cursor: pointer;
}

th,
td {
    padding: 5px;
    white-space: nowrap;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

th {
    text-align: left;
    background: #ddd;
    border-bottom: 2px solid #ccc;
}

td {
    padding: 5px;
    white-space: nowrap;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

table tr:last-child td {
    border-bottom: none;
}

tr:nth-child(even) {
    background: #ebeaea;
}
